<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/fonts/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Hangar 33</title>
    </head>
    <body>

        <div id="main">
            <section id="tela-data" class="page center transition">
                <div>
                    <div class="header">
                        <img src="img/logo-mini.png" id="logo-mini" alt="">
                        <!-- <span class="localizar">Localizar</span> -->
                        <div id="data-local">
                            <div id="data-sigla">Carregando...</div>
                            <img src="img/globo.png" id="logo-mini" alt="">
                            <div id="data-local-infos">
                                --S --W<br>
                                -- <br>
                                -- <br>
                                --
                            </div>
                        </div>
                    </div>
                    <div class="loading"></div>
                    <div id="data-dados">
                        <p class="data-title">Tempo Atual</p>
                        <p class="data-descricao">Meteorological Aerodrome Report (METAR)</p>
                        <p class="data-informacoes"></p>

                        <ul id="weather-list">
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
            <section id="tela-aeroportos" class="page left transition">
                <div>
                    <div class="header">
                        <img src="img/logo-mini.png" id="logo-mini" alt="">
                        <p>Aeroportos </p>
                        <!-- <span class="localizar">Localizar</span> -->
                    </div>
                    <div class="loading"></div>
                    <ul id="lista-aeroportos">
                        
                    </ul>
                </div>
            </section>

            <footer>
                <img src="img/lista.png" id="button-lista" alt="">
                <img src="img/busca.png" alt=""  id="button-busca">
                <img src="img/close.png" alt=""  id="button-fechar">
                <div id="box-busca">
                    <input type="search" data-role="none" placeholder="Aeroporto...">
                </div>
                <img src="img/gps.png" alt=""  id="button-gps">
            </footer>
        </div>
        
        <script type="text/template" id="template-aeroporto">
            <li data-id="<%= aeroporto_sigla %>">
                <h2 class="nome"><%= aeroporto_sigla %></h2>
                <div class="dados">
                    <%= (sigla_aeroporto != '') ? '['+sigla_aeroporto+'] ' : '' %><%= nome %> <br>
                    <%= cidade %> - <%= estado_sigla %> <br>
                    <%= latitude_formatada %> <%= longitude_formatada %> <br>
                    <span class="aeroporto-metar"><%= metar %></span>
                </div>
            </li>
        </script>

        <script type="text/template" id="template-dados">
            <span><%= aeroporto_sigla %></span>
            <div id="data-local-infos">
                <img src="img/globo.png" id="logo-mini" alt=""> <br>
                <%= latitude_formatada %> <%= longitude_formatada %> <br>
                <%= nome %> <br>
                <%= cidade %><br>
                <%= estado %>
            </div>
        </script>
        <script type="text/template" id="template-info">
            Emitido á <%= minutos %> min (<%= dataformatada %> UTC)
        </script>
        <script type="text/template" id="template-weather-item">
            <li class="weather-item">
                <p class="weather-imagem"><img src="img/<%= img %>.png" alt=""></p>
                <p class="weather-descricao"><%= descricao %></p>
                <p class="weather-valor"><%= valor %><span><%= valor2 %></span></p>
                <p class="weather-sub"><%= sub %></p>
            </li>
        </script>
           
        <!--<script type="text/javascript" src="phonegap.js"></script>-->
        <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
