
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }

@bgcolor: #FFF;
@width:960px;  
@def_grid: 4;
@vermelho: #7f3035;
@azul: #335165;
@cinza: #DAD8D6;

.container(@width:960px) { clear:both; margin:0 auto; width:@width; margin-bottom: 10px;  line-height: 2em; }         

.translate3d(@valuesx,@valuesy,@valuesz) {
    transform:         translate3d(@valuesx,@valuesy,@valuesz);
    -ms-transform:     translate3d(@valuesx,@valuesy,@valuesz);
    -moz-transform:    translate3d(@valuesx,@valuesy,@valuesz);
    -o-transform:      translate3d(@valuesx,@valuesy,@valuesz);
    -webkit-transform: translate3d(@valuesx,@valuesy,@valuesz);
}
.transform(@valuesx) {
    transform:         @valuesx;
    -ms-transform:     @valuesx;
    -moz-transform:    @valuesx;
    -o-transform:      @valuesx;
    -webkit-transform: @valuesx;
}
.backgroundSize(@value){
    background-size: @value;
    -ms-background-size: @value;
    -moz-background-size: @value;
    -o-background-size: @value;
    -webkit-background-size: @value;
}
.transition(@value){
    transition: @value;
    -ms-transition: @value;
    -moz-transition: @value;
    -o-transition: @value;
    -webkit-transition: @value;

}
.opacity(@opa) {
    opacity: @opa;
    -o-opacity: @opa;
    -moz-opacity: @opa;
    -khtml-opacity: @opa;
    -webkit-opacity: @opa;
    // filter: alpha(opacity=@opa);
}
.borderRadius(@top,@left,@bottom,@right) {
    -webkit-border-radius: @top @left @bottom @right;
    -moz-border-radius: @top @left @bottom @right;
    border-radius: @top @left @bottom @right;
}
.borderRadiusAll(@border) {
    -webkit-border-radius: @border;
    -moz-border-radius: @border;
    border-radius: @border;
}
.doGradient(@from,@to) {
    background: @from; /* Old browsers */
    background: -moz-linear-gradient(top,  @from 0%, @to 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @from 0%,@to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @from 0%,@to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @from 0%,@to 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @from 0%,@to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@from', endColorstr='@to',GradientType=0 ); /* IE6-8 */
}

.nofont { font: normal 0/0 a; }
.clear { clear: both; }
.hide { display: none; }

body { background: @azul; color: #D2B886; font-size: 75%;
    .ui-page, .ui-body-c { font-family: 'solido_compactbook',Arial;  background: @azul; }
    .ui-body-c, .ui-overlay-c { text-shadow: none !important;  background: @azul; }
}

#main { min-height: 100%; overflow: hidden; 
    > section { background: @azul !important; }

    #logo-mini { margin: 10px 0 10px; }
    
    .header { padding: 10px 0; font-size: 7.333em; text-align: center; border-bottom: 1px dotted #D2B887; text-transform: uppercase; font-family: 'solido_compactlight',Arial; 
        .localizar { float: right; width: 31px; height: 31px; .nofont; background: url(../img/busca.png) 0 0 no-repeat; margin-top: 15px; }
    }

    #tela-aeroportos > div { soverflow-x: hidden; }
    #tela-data {  color: #D2B886;



        #data-local { 
            img { margin: 5px 0 10px; }

            #data-local-infos { font-size: 0.455em;  }
        }

        #data-dados { margin-top: 10px; font-family: 'typewriter_urwregular', Arial; 

            .data-title { text-transform: uppercase;font-size: 5em; font-family: 'solido_compactlight',Arial; text-align: center; margin-bottom: 5px; }
            .data-descricao { text-align: center;  line-height: 1.4em; font-size: 1.4em; }
            .data-informacoes { text-align: center; color: #FFF; line-height: 1.4em; margin-bottom: 0px; font-size: 1.4em; }


            .weather-item { text-align: center; text-transform: uppercase; width: 33%; min-height: 100px; float: left; margin: 10px 0 10px; padding: 0 10px;  overflow: hidden;}
            .weather-imagem {  text-align: center; }
            .weather-imagem img { width: 70%; }
            .weather-descricao, .weather-sub { font-size: 1.2em; }
            .weather-valor { font-family: 'solido_compactlight',Arial; font-size: 5em; padding: 5px 0; color: #FFF; }
            .weather-valor span { font-size: 0.5em; }

            #weather-metar { background: #FFF; color: @azul; .borderRadiusAll(10px); margin: 20px 20px 0; clear: both; padding: 5px; text-align: center; }

            li:nth-child(3n+1) { clear: left; }
        }
    }

    #tela-aeroportos { color: #D2B886;
        #lista-aeroportos { color: #D2B886; height: 100%; 
            li { padding: 10px 10px; cursor: pointer; margin-bottom: 10px; border-bottom: 1px dotted #D2B887; font-size: 5em; padding-right: 50px; background: url(../img/go.png) right center no-repeat;
                .nome {  }
                .dados {  font-family: 'typewriter_urwregular', Arial; font-size: 0.267em; text-transform: uppercase; line-height: 1.5em; color: @cinza; }
            }
        }
    }

    .loading { width: 100%; display: none; height: 100%; position: absolute; z-index: 1000; background: rgba(51, 81, 101, 0.57) url(../img/ajax-loader.gif) center 75px no-repeat; left: 0; top: 0; }
    .active .loading { display: block; }

    .page-footer { text-align: center; margin: 10px 0; color: #D2B886; font-family: 'typewriter_urwregular',Arial; font-size: 1.2em;
        a { color: #D2B886; }
    }
    footer { position: fixed; bottom: 0; left: 0; width: 100%; height: 100px; background: @vermelho;

        img { height: 100%; padding: 10px; }

        #button-busca, #button-lista, #button-fechar { position: absolute; bottom: 0; left: 0; }
        #button-busca, #button-fechar { display: none; }

        #box-busca { width: 100%; padding: 20px 100px;  }
        #box-busca input { border: 1px solid @azul; width: 100%; height: 60px; font-size: 3em; color: @azul; display: none; padding: 0 10px; line-height: 60px; text-transform: uppercase; }
        #box-busca.active input { display: block; }



        #button-gps { position: absolute; bottom: 0; right: 0; transition: all 1s linear;  }
        #button-gps.active { -webkit-transform:rotate(-30deg); -webkit-animation: gpsAnimation 10s ease 1s infinite alternate; -moz-animation: gpsAnimation 10s ease 1s infinite alternate; -o-animation: gpsAnimation 10s ease 1s infinite alternate; }
    }
}


@-webkit-keyframes gpsAnimation {
    0%   { -webkit-transform:rotate(-30deg); }
    25%  { -webkit-transform:rotate(50deg);  }
    50%  { -webkit-transform:rotate(20deg);  }
    75%  { -webkit-transform:rotate(-100deg);}
    100% { -webkit-transform:rotate(120deg); }
}
@-moz-keyframes gpsAnimation {
    0%   { -moz-transform:rotate(-30deg); }
    25%  { -moz-transform:rotate(50deg);  }
    50%  { -moz-transform:rotate(20deg);  }
    75%  { -moz-transform:rotate(-100deg);}
    100% { -moz-transform:rotate(120deg); }
}
@-o-keyframes gpsAnimation {
    0%   { -o-transform:rotate(-30deg); }
    25%  { -o-transform:rotate(50deg);  }
    50%  { -o-transform:rotate(20deg);  }
    75%  { -o-transform:rotate(-100deg);}
    100% { -o-transform:rotate(120deg); }
}



#main.active-page-dados #main footer {
    #button-lista { display: inline-block; }
    #button-busca { display: none; }
}

#main.active-page-aeroportos footer {
    #button-busca { display: inline-block; }
    #button-lista { display: none; }
}

#main {
    position: absolute;
    width: 100%;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    padding-bottom: 110px;
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    height: 0;
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: auto;
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    height: 0;
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}